/* Círculos de colores numerados */

span.cirle-notification {
    display: none;
    background: red;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    font-weight: bold;
    font-size: 2vh;
    line-height: 1.6em;
    text-align: center;
    width: fit-content;
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 0px 3px;
}

h4.card-title {
    font-weight: bold !important;
    text-align: center !important;
    padding: 0px 3px !important;
    line-height: 1.6em;
    margin-bottom: 0rem !important;
}

div.card-body {
    padding: 0rem 1.25rem 1.25rem 1.25rem;
}